<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>KMT Servers</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="server">Server name:</label>
        <input type="text" name="server" value="{{destserver.Server}}" /><br /><br />
        <label for="server">Location:</label>
        <input type="text" name="location" value="{{destserver.Location}}" /><br /><br />
        <label for="server">Contact:</label>
        <input type="text" name="contact" value="{{destserver.Contact}}" /><br /><br />
        <label for="server">Path:</label>
        <input type="text" name="path" value="{{destserver.Path}}" /><br /><br />

    </form>    

</body>
</html>